

* {
    font: 12pt "Guardian Egyptian Web","Guardian Text Egyptian Web",Georgia,serif;;
}

html {
    background-color: #dfdfdf;
}

body {
    background-color: white;
    width: 900px;
    margin: 0 auto;
}

h1 {
    background: #005689;
    height: 50px;
    color: white;
    font-weight: bold;
    font-size: 200%;
    padding: 0 510px 1em;
    margin: 0 -500px;
}

nav {
    background: #00456e;
    padding: 0 510px;
    margin: 0 -500px;
    position: relative;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

nav li {
    display: inline-block;
    margin: 0 1em 0 0;
    padding: 1em 0;
}

nav a {
    color: white;
    font-weight: 500;
    text-decoration: none;
}

#content {
    position: relative;
}

form#switch_country {
    text-align: right;
}

section {
    border-top: 1px #4bc6df solid;
    background: rgb(246, 246, 246);
    margin: 1em 0;
    padding: 0 10px;
    position: relative;
}

#summary {
    height: 400px;
    background: rgb(72, 79, 83);
    color: white;
}

#summary img {
    position: absolute;
    top: 0;
    right: 0;
}

h2 {
    font-weight: 600;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tbody {
    border-top: 1px solid #dfdfdf;
}

td {
    vertical-align: text-top;
    padding: 0.5em;
}

td.source {
    text-align: right;
}

dt {
    display: inline;
    color: #4bc6df;
}

dt:after {
    content: " / ";
    color: #6d7275;
}

dd {
    display: inline;
    margin: 0;
    color: white;
}

dd:after {
    content: "\A";
    white-space: pre;
}

#trending {
    width: 425px;
}

#watch-list {
    width: 425px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
    height: 100%;
}

sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
    font-size: 0.85em;
}

.rank-1 {
    color: goldenrod;
}

.rank-2 {
    color: darkgray;
}

.rank-3 {
    color: saddlebrown;
}

a {
    color: #005689;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

td.graph {
    vertical-align: top;
}

ul {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}

.termList {
    padding-bottom: 20px;
    margin-left: 10px;
}

.termList li > * {
    line-height: 36px; /*this seems crazy*/
}

.termList li {
    overflow: auto;
    border-bottom: 1px solid #eee;
}

.termList .right {
    float: right;
    line-height: 36px;
}

