@(term: String, result: GoogleResult)
@main("Dashboard") {

    <section id="summary">
        <dl>
            <dt>Search term</dt>
            <dd>@term</dd>
            <dt>Region</dt>
            <dd>UK</dd>
        </dl>
        <img height="420" width="700" src="data:image/png;base64,@result.image">
    </section>


    <section id="current-view">
        <h2>Current View</h2>

        <table>

            <thead>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Time in pos</td>
                </tr>
            </thead>

            <tbody>
                @for(r <- result.report) {
                    <tr>
                        <td>Pos @r.rank</td>
                        <td>
                            <p><a href="@r.href">@r.title</a></p>
                            <p><a href="@r.href">@r.href</a></p>
                            <p>@r.source</p>
                        </td>
                        <td>45 mins</td>
                    </tr>
                }
            </tbody>
        </table>
    </section>

    <section id="guardians-performance">
        <h2>Guardian’s Performance</h2>

        <table>

            <thead>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Time in</td>
                    <td>Time out</td>
                    <td></td>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td rowspan="3">
                        <p><a href="http://www.theguardian.com/world/ng-interactive/2015/nov/17/la-belle-equipe-paris-attacks-photographs">
                            The scene at La Belle Équipe after the Paris attacks</a></p>
                        <p><a href="http://www.theguardian.com/world/ng-interactive/2015/nov/17/la-belle-equipe-paris-attacks-photographs">
                            http://www.theguardian.com/world/ng-interactive/2015/nov/17/la-belle-equipe-paris-attacks-photographs</a></p>
                    </td>
                    <td>Pos 1</td>
                    <td>14:36</td>
                    <td>-:-</td>
                    <td rowspan="3">
                        <img src="http://placekitten.com/g/150/60" width="150" height="60" alt="A kitten">
                    </td>
                </tr>
                <tr>
                    <td>Pos 2</td>
                    <td>14:20</td>
                    <td>14:36</td>
                </tr>
                <tr>
                    <td>Pos 3</td>
                    <td>-:-</td>
                    <td>-:-</td>
                </tr>
            </tbody>

            <tbody>
                <tr>
                    <td rowspan="3">
                        <p><a href="http://www.theguardian.com/world/ng-interactive/2015/nov/17/la-belle-equipe-paris-attacks-photographs">
                            The scene at La Belle Équipe after the Paris attacks</a></p>
                        <p><a href="http://www.theguardian.com/world/ng-interactive/2015/nov/17/la-belle-equipe-paris-attacks-photographs">
                            http://www.theguardian.com/world/ng-interactive/2015/nov/17/la-belle-equipe-paris-attacks-photographs</a></p>
                    </td>
                    <td>Pos 1</td>
                    <td>14:36</td>
                    <td>-:-</td>
                    <td rowspan="3">
                        <img src="http://placekitten.com/g/150/60" width="150" height="60" alt="A kitten">
                    </td>
                </tr>
                <tr>
                    <td>Pos 2</td>
                    <td>14:20</td>
                    <td>14:36</td>
                </tr>
                <tr>
                    <td>Pos 3</td>
                    <td>-:-</td>
                    <td>-:-</td>
                </tr>
            </tbody>

            <tbody>
                <tr>
                    <td rowspan="3">
                        <p><a href="http://www.theguardian.com/world/ng-interactive/2015/nov/17/la-belle-equipe-paris-attacks-photographs">
                            The scene at La Belle Équipe after the Paris attacks</a></p>
                        <p><a href="http://www.theguardian.com/world/ng-interactive/2015/nov/17/la-belle-equipe-paris-attacks-photographs">
                            http://www.theguardian.com/world/ng-interactive/2015/nov/17/la-belle-equipe-paris-attacks-photographs</a></p>
                    </td>
                    <td>Pos 1</td>
                    <td>14:36</td>
                    <td>-:-</td>
                    <td rowspan="3">
                        <img src="http://placekitten.com/g/150/60" width="150" height="60" alt="A kitten">
                    </td>
                </tr>
                <tr>
                    <td>Pos 2</td>
                    <td>14:20</td>
                    <td>14:36</td>
                </tr>
                <tr>
                    <td>Pos 3</td>
                    <td>-:-</td>
                    <td>-:-</td>
                </tr>
            </tbody>

            <tbody>
                <tr>
                    <td rowspan="3">
                        <p><a href="http://www.theguardian.com/world/ng-interactive/2015/nov/17/la-belle-equipe-paris-attacks-photographs">
                            The scene at La Belle Équipe after the Paris attacks</a></p>
                        <p><a href="http://www.theguardian.com/world/ng-interactive/2015/nov/17/la-belle-equipe-paris-attacks-photographs">
                            http://www.theguardian.com/world/ng-interactive/2015/nov/17/la-belle-equipe-paris-attacks-photographs</a></p>
                    </td>
                    <td>Pos 1</td>
                    <td>14:36</td>
                    <td>-:-</td>
                    <td rowspan="3">
                        <img src="http://placekitten.com/g/150/60" width="150" height="60" alt="A kitten">
                    </td>
                </tr>
                <tr>
                    <td>Pos 2</td>
                    <td>14:20</td>
                    <td>14:36</td>
                </tr>
                <tr>
                    <td>Pos 3</td>
                    <td>-:-</td>
                    <td>-:-</td>
                </tr>
            </tbody>
        </table>
    </section>

}