@import org.joda.time.format.DateTimeFormat
@(results: Seq[SearchTermResult])
@main("Dashboard") {

    <section id="summary" style="max-height: 70px">
        <dl>
            <dt>Search term</dt>
            <dd>@results.head.searchTerm.query</dd>
            <dt>Region</dt>
            <dd>@results.head.searchTerm.tld</dd>
        </dl>
    </section>

  @results.map(_.googleResult).map { result =>
  <section id="current-view">
    <h2>@result.time.toString(DateTimeFormat.forPattern("HH:mm, dd/MM"))</h2>
    @result.report.map { link =>
      <div class="ranks">
        <div><i class="fa fa-trophy rank-@link.rank">@link.rank</i></div>
        <div class="indented"><a href="@link.href">@{views.Truncator.truncateAtSpace(link.title, 70)}</a></div>
        <span style="float: right">@link.hostname</span>
      </div>
      <div style="clear : both"></div>
    }
  </section>
  }
}