@(words: Seq[(String, String)], countryResult: CountryResult)

    @main("Google Search Watcher") {

        <section>
            <h2>Trending in @countryResult.country</h2>
            <ul>

                @for(tr <- countryResult.termResults){
                    @if(tr.inTopBox){
                        <li><em>@tr.term  top box </em> <a href="/" title="add watch">[+]</a></li>
                    } else {
                        <li>@tr.term <a href="/" title="add watch">[+]</a></li>
                    }

                }
            </ul>
            <form action="/add-watch" method="POST">
              <select name="tld">
                <option value="com">.com</option>
                <option value="co.uk">.co.uk</option>
                <option value="fr">.fr</option>
                <option value="nl">.nl</option>
                <option value="de">.de</option>
              </select>
              <input type="text" name="term" placeholder="Search term">
              <input type="submit" value="Watch">
            </form>
        </section>

        <section>
        <h2>Watch list</h2>
          <ul>
            @for(word <- words) {
              <li>
                <p><a href="/term?term=@{word._2}&tld=@{word._1}">@word._2</a></p>
                <form action="/remove-watch" method="post">
                  <input type="hidden" name="id" value="@word._1">
                  <input type="submit" value="Remove">
                </form>
              </li>
            }
          </ul>
        </section>
    }