@(message: String)

@main("Google Search Watcher") {

    <h2>Trending in UK</h2>
    <ul>
        <li>Olly Murs<a href="/" title="add watch">[+]</a></li>
        <li>Charlie Sheen<a href="/" title="add watch">[+]</a></li>
        <li>Chris Eubank<a href="/" title="add watch">[+]</a></li>
        <li>Vicky Pattison<a href="/" title="add watch">[+]</a></li>
        <li>Syria<a href="/" title="add watch">[+]</a></li>
        <li>Anonymous<a href="/" title="add watch">[+]</a></li>
        <li>I M A Celebrity App<a href="/" title="add watch">[+]</a></li>
        <li>Duncan Bannatyne<a href="/" title="add watch">[+]</a></li>
        <li>Kieron Dyer<a href="/" title="add watch">[+]</a></li>
        <li>ITV<a href="/" title="add watch">[+]</a></li>
        <li>Nathan Kress<a href="/" title="add watch">[+]</a></li>
        <li>Susannah Constantine<a href="/" title="add watch">[+]</a></li>
        <li>England vs France<a href="/" title="add watch">[+]</a></li>
        <li>Brian Friedman<a href="/" title="add watch">[+]</a></li>
        <li>Saeed Jaffrey<a href="/" title="add watch">[+]</a></li>
        <li>Putin<a href="/" title="add watch">[+]</a></li>
        <li>Molenbeek<a href="/" title="add watch">[+]</a></li>
        <li>Blinks Of Bicester<a href="/" title="add watch">[+]</a></li>
        <li>Cynthia Payne<a href="/" title="add watch">[+]</a></li>
        <li>Laura Whitmore<a href="/" title="add watch">[+]</a></li>
    </ul>

    <form>
        <input type="text" placeholder="Search term">
        <input type="submit" value="Watch">
    </form>

    <h2>Watch list</h2>

    <ul>
        <li><a href="/dashboard?q=paris">Paris</a></li>
    </ul>
}