@(words: Seq[(String, String)], countryResult: CountryResult, countries: List[String])

@main("Google Search Watcher") {

    <section>
        <h2>Trending in @countryResult.country</h2>
        <form action="/" method="get" id="switch_country">
            See trends in
            <select name="country">
            @for(country <- countries) {
                @if(country == countryResult.country) {
                    <option selected value="@country">@country</option>
                } else {
                    <option value="@country">@country</option>
                }
            }
            </select>
            <input type="submit" value=">>">
        </form>
        <ul>

        @for(tr <- countryResult.termResults) {
            <li>
                <form action="/add-watch" method="POST">
                @tr.term
                @if(tr.inTopBox) {
                    top box
                }
                    <input type="hidden" name="tld" value="com">
                    <input type="hidden" name="term" value="@tr.term">
                    <input type="submit" value="+">
                </form>
            </li>
        }
        </ul>
        <form action="/add-watch" method="POST">
            Watch
            <input type="text" name="term" placeholder="Search term">
            on
            <select name="tld">
                <option value="com">.com</option>
                <option value="co.uk">.co.uk</option>
                <option value="fr">.fr</option>
                <option value="nl">.nl</option>
                <option value="de">.de</option>
            </select>
            <input type="submit" value=">>">
        </form>
    </section>

    <section>
        <h2>Watch list</h2>
        <ul>
        @for(word <- words) {
            <li>
                <form action="/remove-watch" method="post">
                    <a href="/dashboard?q=@word._2">@word._2</a>
                    <input type="hidden" name="id" value="@word._1">
                    <input type="submit" value="-">
                </form>
            </li>
        }
        </ul>
    </section>
}
